@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Variables CSS para modo oscuro */
.dark {
  --background: #0f172a; /* slate-900 */
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}
